<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>orgImages/chess/arrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/blue_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,374},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/blue_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,416},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/blue_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>orgImages/chess/cid_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,834},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,868},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,936},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,970},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,834},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,794},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,868},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,902},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,936},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,970},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/cid_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,828},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>orgImages/chess/green_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,458},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/green_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/green_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>orgImages/chess/light_last.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>orgImages/chess/moveAllow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/moveBan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,584},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/red_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/red_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,668},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/red_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>orgImages/chess/select.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,794},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>orgImages/chess/yellow_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,710},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/yellow_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>orgImages/chess/yellow_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chess.png</string>
			<key>realTextureFileName</key>
			<string>chess.png</string>
			<key>size</key>
			<string>{102,1004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>1004</integer>
		</dict>
	</dict>
</plist>